// ==================
// App Main View
// ==================

$HEADER_HEIGHT: 50px;

$FOOTER_HEIGHT: 44px;


&.flex {
    flex-direction: column;
    min-width: 100%;
    min-height: 100%;
}

.fm_header_ctn,
.fm_middle_ctn,
.fm_footer_ctn {
    flex: 1;
    align-self: auto;
    min-width: 100%;
}

.fm_header_ctn {
    order: 1;
    height: $HEADER_HEIGHT;
    min-height: $HEADER_HEIGHT;
    max-height: $HEADER_HEIGHT;
}

.fm_middle_ctn {
    order: 2;
    width: 100;
    min-height: 1px;
    align-items: flex-start;
    position: relative;
}

.fm_footer_ctn {
    order: 3;
    height: $FOOTER_HEIGHT;
    min-height: $FOOTER_HEIGHT;
    max-height: $FOOTER_HEIGHT;
}

.ctn_loading {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 550;
    text-align: center;
    width: 38px;
    height: 20px;

    .show_loading & {
        display: block;
    }

    .el_loading {
        width: 4px;
        height: 4px;
        margin: 10px auto;
        background: #aaa;
        border: 1px solid #555;
        -moz-animation: ds_loading_anim 1.3s infinite alternate;
        -webkit-animation: ds_loading_anim 1.3s infinite alternate;
        -ms-animation: ds_loading_anim 1.3s infinite alternate;
        animation: ds_loading_anim 1.3s infinite alternate;
        @include inline-block();
        @include border-radius(20px);
    }

    .el_loading_1 {
        -moz-animation-delay: 0s;
        -webkit-animation-delay: 0s;
        -ms-animation-delay: 0s;
        animation-delay: 0s;
    }

    .el_loading_2 {
        -moz-animation-delay: 0.39s;
        -webkit-animation-delay: 0.39s;
        -ms-animation-delay: 0.39s;
        animation-delay: 0.39s;
    }

    .el_loading_3 {
        -moz-animation-delay: 0.78s;
        -webkit-animation-delay: 0.78s;
        -ms-animation-delay: 0.78s;
        animation-delay: 0.78s;
    }
} // End .ctn_loading
